<div class="about-me-container">
    <div class="image-container">
        <img src="../../assets/img/matthew-portrait.webp" alt="">
    </div>
    <div class="text-container">
        <h1>Matthew Thomas</h1>
        <p>I am a filmmaker, photographer, and writer based in Greensboro NC. I graduated Magna Cum Laude from the University of North Carolina at Wilmington with a bachelor's degree in film. With a talent for scrappy, low-budget filmmaking, I am skilled at creating art and telling a story under even the least ideal circumstances. Adept at video editing, digital photography, videography, photo editing, writing, and more, I use my variety of talents across multiple mediums and creative endeavors from filmmaking to music to acting and beyond.</p>
    </div>
</div>
